body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.user-name,.date,.repo{
	font-weight: normal;
	color:#333;
	font-size:1.1em !important;
	display: inline-block;
	vertical-align: top;
	margin-left:1em;
	max-width: 270px;
}
.user-name{
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table-layout{
	display: block;
	margin:4em auto;
	max-width:960px;
	border:1px solid #333;
}
.data-item{
	border-bottom:1px solid #333;
	clear:both;
}
.data-link{
	padding:2em 3em;
	display:block;
}
.user-image{
	display: inline-block;
	width:100px;
	height: 100px;
}
.date{
	float:right;
	text-align: right;
}
.repo{
	max-width: 320px;
	text-align: left;
}
.event-controls{
	border-bottom: 1px solid #333;
}
.event-controls button{
	background: #fff;
	border:none;
	padding:1em 3em;
	cursor:pointer;
}
.sortby-repo-name{
	margin-left:270px;
}
.sortby-repo-date{
	margin-left: 330px;
}
.loading{
	text-align: center;
	margin:5em auto;
}